{% extends 'base.html.twig' %}

{% block title %}MC-Danse | Créer un Spectacle{% endblock %}

{% block body %}
    <center><h1>Créer un Spectacle</h1></center>

    {{ include('spectacle/_form.html.twig') }}

    <a href="{{ path('app_spectacle_index') }}"><button class="btn btn-danger">Voir la liste</button></a>
{% endblock %}
