{% extends 'base.html.twig' %}

{% block title %}Discipline index{% endblock %}

{% block body %}
<center>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for discipline in disciplines %}
            <tr >
                <td>{{ discipline.nom }}</td>
                <td>
                    <a href="{{ path('app_discipline_show', {'id': discipline.id}) }}"><button class="btn btn-primary">Voir</button></a>
                    <a href="{{ path('app_discipline_edit', {'id': discipline.id}) }}"><button class="btn btn-warning">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    

    <a href="{{ path('app_discipline_new') }}"><button class="btn btn-success"> Créer une discipline</button></a>
</center>
{% endblock %}
