{% extends 'base.html.twig' %}

{% block title %}MC-Danse | Discplines{% endblock %}

{% block stylesheets %}
<style>
:root {
  --scrollcolor: #202020;
  --scrollbackground: #b5b5b5;
  --sliderbackground: #f2f2f2;
  --sliderbarcolor: #343434;
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #fff;
}

.title {
  font-size: 2.5rem;
  font-family: system-ui;
  line-height: 1.1;
  font-weight: 300;
  color: #39202d;
  margin: 4rem auto 1rem;
  width: 85%;
  max-width: 1280px;
}

.slider {
  width: 85%;
  max-width: 1280px;
  margin: 0 auto;
}

.slider__content {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  scrollbar-color: var(--scrollcolor) var(--scrollbackground);
  background-color: var(--sliderbackground);
}

.slider__content::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 1rem;
  background: var(--scrollbackground);
}

.slider__content::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--scrollcolor);
}

.slider__content::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: var(--scrollbackground);
}

.slider__item {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 100%;
  width: 100%;
  border-radius: 0.25rem;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1;
}

@media (min-width: 460px) {
  .slider__item {
    aspect-ratio: 0.6666666667;
    min-width: calc((100% / 2) - 2rem);
  }
}

@media (min-width: 940px) {
  .slider__item {
    min-width: calc((100% / 3) - 4rem);
  }
}

.slider__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.slider__info {
  position: relative;
  padding: 4rem 2rem 2rem;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(32, 50, 57, 0));
}

.slider__info h2 {
  color: #ffffff;
  font-family: system-ui;
  line-height: 1.1;
  font-weight: 300;
  font-size: 1.75rem;
  margin: 0;
}

.slider__nav {
  margin: 1rem 0 4rem;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-content: center;
  align-items: center;
  pointer-events: none;
}

@media (min-width: 460px) {
  .slider__nav {
    justify-content: flex-end;
  }
}

.slider__nav__button {
  margin: 0;
  appearance: none;
  border: 0;
  border-radius: 2rem;
  background: var(--sliderbackground);
  color: var(--sliderbarcolor);
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  line-height: 1;
  pointer-events: none;
  transition: 0.2s ease-out;
  opacity: 0.25;
}

.slider__nav__button--active {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}

.slider__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(138, 72, 131, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}

.slider__item:hover .slider__overlay {
  opacity: 1;
}

.slider__button {
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff4081;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.slider__item:hover .slider__button {
  opacity: 1;
  transform: translateY(0);
}
</style>
{% endblock %}

{% block body %}
<div class="slider" x-data="{start: true, end: false}" style="padding-top: 150px;">
  <div class="slider__content" x-ref="slider" x-on:scroll.debounce="$refs.slider.scrollLeft == 0 ? start = true : start = false; Math.abs(($refs.slider.scrollWidth - $refs.slider.offsetWidth) - $refs.slider.scrollLeft) < 5 ? end = true : end = false;">
    {% for discipline in disciplines %}
    <div class="slider__item">
      <img class="slider__image" src="/upload/images/{{ discipline.image }}" alt="{{ discipline.nom }}">
      <div class="slider__overlay">
        <a href="{{ path('app_discipline_show', {'id': discipline.id}) }}"><button class="slider__button">En savoir plus</button></a>
      </div>
      <div class="slider__info">
        <h2><b>{{ discipline.nom }}</b></h2>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="slider__nav" style="display: flex;justify-content: center;">
    <button class="slider__nav__button slider__nav__button--prev" x-on:click="$refs.slider.scrollBy({left: $refs.slider.offsetWidth * -1, behavior: 'smooth'});" x-bind:class="start ? '' : 'slider__nav__button--active'">Previous</button>
    <button class="slider__nav__button slider__nav__button--next" x-on:click="$refs.slider.scrollBy({left: $refs.slider.offsetWidth, behavior: 'smooth'});" x-bind:class="end ? '' : 'slider__nav__button--active'">Next</button>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.10.2/cdn.js"></script>
{% endblock %}
