{% extends 'base.html.twig' %}

{% block title %}MC-Danse | Planing{% endblock %}

{% block body %}
<br/><br/>
  <h3 align="center" style="font-family: 'Amsterdam', sans-sherif; "><i>Planing Info :</i></h3>
  <br/>
    <center>
      {% for planning in plannings %}
        <img src="/upload/images/{{ planning.Image }}"  width="75%">
      {% else %}
        <p>{{ 'Pas de spectacle prévu pour l\'instant' | trans }}</p>
      {% endfor %}
      <br/><br/>
      <br/><br/>
      <br/><br/>
      <br/><br/>
{% endblock %}
