<form method="post" action="{{ path('app_initiation_delete', {'id': initiation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ initiation.id) }}">
    <button class="btn">Delete</button>
</form>
