{% extends 'base.html.twig' %}

{% block title %}New Initiation{% endblock %}

{% block body %}
    <h1>Create new Initiation</h1>

    {{ include('initiation/_form.html.twig') }}

    <a href="{{ path('app_initiation_index') }}">back to list</a>
{% endblock %}
